body {
    background-image: url("assets/images/IMG_5232_r.JPG");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
  }


h1 {
    text-align: center;
    color: red;
}

h1, h2, p {
    text-align: center;
    color: red;
    border-style: groove;
    border-color: green aqua;
    border-width: 3px;

    height: 200px;
    width: 50%;
  }